/* Button Styles */
.button {
  display: flex;
  cursor: pointer;
}

.button:hover {
  opacity: .9;
}

.button span {
  align-self: center;
  margin: auto;

  font-family: Roboto;
  font-weight: 300;
}

.button.cta {
  height: 42px;
  width: 144px;

  border-radius: 12px;
  background: #ff6900;
}

.button.cta span {
  color: white;
}

.button.beta {
  text-decoration: underline;
}
