.bona-fide-residence {
  padding: 16px;
}

.bona-fide-residence .content h2 {
  font-size: 16px;
}

.bona-fide-residence .content p, span {
  font-size: 14px;
}

.bona-fide-residence a {
  text-decoration: underline;
  cursor: pointer;
}

.bona-fide-residence form label {
  width: 100%;
  display: inline-block;
}

.bona-fide-residence form label input {
  margin-left: 8px;
}

.bona-fide-residence .bfr-advice p.hide {
  display: none;
}
