/* Card Styles */
.title-card {
  align-self: center;
  display: flex;
  max-width: 624px;
  height: 480px;
  margin: auto;
}

.title-card .card-content {
  align-self: center;
  
  padding: 0 12px;
}

.title-card h1 {
  text-align: center;

  font-family: Lato;
  font-size: 24px;
  line-height: 1.5;
}

.title-card .sub-headers {
  margin-top: 42px;
  padding: 0px 16px;
}

.title-card .sub-headers h2 {
  text-align: center;

  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
}

.title-card .button {
  margin: 48px auto 0;
  width: 180px;
}

