/* Card Styles */
.title-card {
  align-self: center;
  display: flex;
  max-width: 624px;
  height: 480px;
  margin: auto;
}

.title-card .card-content {
  align-self: center;
  
  padding: 0 12px;
}

.title-card h1 {
  text-align: center;

  font-family: Lato;
  font-size: 24px;
  line-height: 1.5;
}

.title-card .sub-headers {
  margin-top: 24px;
  padding: 0px 16px;
}

.title-card .sub-headers h2 {
  text-align: center;

  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
}

.title-card h2.disclaimer {
  text-align: center;
  margin-top: 48px;

  font-family: Roboto;
  line-height: 1.2;
  font-size: 14px;
}

.title-card .button {
  margin: 48px auto 0;
  width: fit-content;
  padding: 0 12px;
}

