/* Page Styles */
.App {
  text-align: center;
}

.App-header {
  display: flex;
  height: 48px;
  padding: 8px;
  color: black;
  background: #1b1b1b;
}

.App-header h2 {
  align-self: center;
  margin-left: 12px;

  font-family: Lato;
  font-size: 16px;
  font-weight: 200;
  color: white;
}

.App-header img {
  align-self: center;
  margin-left: 24px;
  margin-bottom: 6px;
  height: 32px;
  width: 32px;
}

.App-content {
  display: flex;
  width: 100%;
  min-height: 79vh;
  margin: auto;
  text-align: left;
}

@media (min-width: 769px) {
  .App-content {
    width: 60%;
  }
}

/* Question Counter Styles */
.question-counter {
  display: flex;
  height: 32px;
  background: #dfdfdf;
  text-align: left;

  transition: height .6s;
}

.question-counter span {
  align-self: center;
  margin-left: 16px;
  font-family: Roboto;
  font-size: 16px;
  opacity: .7;

  transition: opacity .6s;
}

.question-counter.hide {
  height: 0px;  
  overflow: hidden;
}

.question-counter.hide span {
  opacity: 0;
}

/* Progress Bar Styles */
.progress-bar {
  height: 6px;

  transition: height .6s;
}

.progress-bar .indicator {
  width: 0px;
  height: 6px;
  background: #0096ff;

  transition: width .6s;
}

.progress-bar.hide {
  height: 0px;
}

/* Footer Styles */
.App-footer {
  margin: 48px auto 24px;
  font-family: Roboto;
  color: grey;
  opacity: .85;
  font-size: 14px;
}

.App-footer .footer-content {
  margin-top: 18px;
}

.App-footer a {
  text-decoration: underline;
  cursor: pointer;

  margin-left: 12px;
}

.App-footer hr {
  width: 80%;
  color: grey;
  opacity: .7;
}

