.App {
  text-align: center;
}

.App-header {
  display: flex;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-header h1 {
  width: 80%;
  align-self: center;
  margin: auto;
}

.App-intro {
  font-size: large;
}

