/* Card Styles */
.form-card {
  display: flex;
  max-width: 600px;
  min-height: 600px;
  margin: auto;
}

.form-card .card-content {
  display: flex;
  flex-direction: column;
  min-height: 348px;
  
  padding: 24px 12px 0;
}

.form-card h1 {
  text-align: left;

  font-family: Lato;
  font-size: 24px;
  line-height: 1.5;
}

.form-card .sub-headers {
  margin-top: 24px;
}

.form-card .sub-headers h2 {
  text-align: left;

  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
}

/* Form Styles */
.form-card form {
  margin-top: 24px;
}

.form-card label {
  display: flex;
  height: 48px;
  padding-left: 24px;

  border-top: 1px solid #dfdfdf;

  font-family: Roboto;
  font-size: 16px;
}

.form-card label:last-child {
  border-bottom: 1px solid #dfdfdf;
}

.form-card label:hover {
  background: #fcfcfc;
}

.form-card label span {
  margin-left: 24px;
}

.form-card label span, input {
  align-self: center;
}

/* Form Navigation */
.form-card .navigation {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.form-card .navigation .button-container {
  margin: auto;
}

.form-card .navigation .button-container:first-child {
  order: 2;
  margin-top: 24px;
}

.form-card .navigation .button-container:last-child {
  order: 1;
  margin-top: 24px;
}

@media (min-width: 769px) {
  .form-card .navigation {
    flex-direction: row;
  }

  .form-card .navigation .button-container:first-child {
    order: 1;
    margin: 24px 0 0 0;
    align-self: center;
  }

  .form-card .navigation .button-container:last-child {
    order: 2;
    margin-top: 24px;
    margin-left: 24px;
  }
}
