/* Card Styles */
.form-card {
  display: flex;
  max-width: 600px;
  height: 480px;
  margin: auto;
}

.card-content {
  align-self: center;
  
  padding: 0 12px;
}

.form-card h1 {
  text-align: center;

  font-family: Lato;
  font-size: 24px;
  line-height: 1.5;
}

.form-card .sub-headers {
  margin-top: 42px;
  padding: 0px 16px;
}

.form-card .sub-headers h2 {
  text-align: center;

  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
}

